.footer {
    display: flex;
    gap: 3rem;
    padding: 1rem 7rem;
    margin: 1em auto 0 auto;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 3em;
}
.social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.social-media img {
    width: 2rem;
    cursor: pointer;
}
.logo {
    color: white;
}
.footer p {
    background: linear-gradient(to right, #b8b8b8, #525252);
    background-clip: text;
    color: transparent;
    background-clip: text;
}

@media screen and (max-width: 1000px) {
    .footer {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 3rem;
        justify-content: space-between;
        align-items: center;
    }
}
