.footer {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 3rem;
    padding: 1rem 7rem;
    margin: 1em auto 0 auto;
}
.logo img {
    width: 3em;
}
.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}
.social-media img {
    width: 1rem;
    cursor: pointer;
}
.logo {
    color: white;
}
.footer p {
    background: linear-gradient(to right, #b8b8b8, #525252);
    background-clip: text;
    color: transparent;
    background-clip: text;
}

@media screen and (max-width: 1000px) {
    .footer {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 1rem 3rem;
    }
}
